* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Hero Section */

.heroSection {
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.menuContainer {
    display: flex;
    gap: 18px;
}

.menuContainer .userIcon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.heroSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
}

.zomatoLogo {
    width: 300px;
    height: 60px;
}

.heroSectionTitle {
    text-align: center;
    font-size: 35px;
    font-weight: 395;
}

.heroSectionInputContainer {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.inputContainerLocation, .inputContainerSearch {
    padding: 4px;
    border: none;
    outline: none;
}

.inputContainerLocation {
    width: 35%;
    border-right: 2px solid #c0c0c0;
    color: gray;
    font-size: 12.9px;
}

.inputContainerSearch {
    width: 65%;
}

#locationIcon {
    color: rgb(239,79,95);
    margin-top: -4px ;
}

#searchIcon {
    color: #c0c0c0;
    margin-right: 3px;
}

/* media query for hero section */

@media only screen and (max-width: 600px) {
    .menuContainer .userIcon {
        display: flex;
    }
    .link {
        display: none;
    }
    .heroSection {
        min-height: 80vh;
    }
    .heroSectionContainer {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(300px - 116px);
    }
    .zomatoLogo {
        height: 60px;
        width: 200px;
        margin-top: 20px;
    }
    .inputContainerLocation, .inputContainerSearch {
        padding: 18px;
        border-radius: 10px;
        width: 98%;
    }
    .heroSectionTitle {
        font-size: 18px;
        width: 98%;
    }
}

@media only screen and (max-width: 400px) {
    .heroSection {
        width: 119%;
    }
    .heroSectionTitle {
        font-size: 18px;
        word-spacing: 0px;
        margin-left: 47px;
    }
    .heroSectionContainer {
        width: 102%;
        height: 69%;
    }
}

/* Card Section */

.cardSection {
    margin: 3rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cardWeOffer {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 12px;
}

.cardWeOffer:hover {
    transition: all 0.25s ease;
    transform: scale(1.1);
    border: 1px solid grey;
    cursor: pointer;
}

.cardWeOffer img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.contentWeOffer {
    padding: 10px;
}

.contentWeOffer h2 {
    font-size: 20px;
    font-weight: 500;
}

.contentWeOffer p {
    font-size: 12.5px;
    font-weight: 400;
}